.product-img {
  width: 250px;
  height: 300px;
  transition: transform 1s ease-in;
  cursor: pointer;
}

.product-img:hover {
  transform: scale(1.1);
}

/* WhatsApp button hover effect */
.btn-whatsapp {
  background-color: #042b8a; /* WhatsApp green */
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.btn-whatsapp:hover {
  background-color: #0f41c2; /* darker green */
  color: white !important;
}

.btn-whatsapp svg {
  color: white !important; /* icon stays white */
}

.btn-whatsapp:hover svg {
  color: white !important; /* icon remains white on hover */
}
