* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.bg-color1 {
  background-color: #042b8a;
}
.bg-color2 {
  background-color: #eaecee;
}
.text-color1 {
  color: #00d1f9;
}
.text-color2 {
  color: #042b8a;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #3046b7;
}

::-webkit-scrollbar-thumb {
  background: #17a2b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #138496;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #17a2b8 #0e153a;
}
