* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.bg-color1 {
  background-color: #042b8a;
}
.bg-color2 {
  background-color: #eaecee;
}
.text-color1 {
  color: #00d1f9;
}
.text-color2 {
  color: #042b8a;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #3046b7;
}

::-webkit-scrollbar-thumb {
  background: #17a2b8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #138496;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #17a2b8 #0e153a;
}

.whatsapp-btn {
  position: fixed;
  bottom: 10px;
  right: 60px;
  background: linear-gradient(135deg, #25d366, #20ba5a);
  color: #fff;
  border-radius: 50%;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25), 0 0 12px rgba(37, 211, 102, 0.6);
}

.whatsapp-btn:active {
  transform: scale(0.95);
}
/* Default (desktop/tablet) is what you already have */

@media (max-width: 576px) {
  .whatsapp-btn {
    bottom: 42px;
    right: 5px;
    padding: 10px;
    font-size: 22px;
  }
}
